
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb mb-2 mt-3">
    <h2>Usuarios</h2>
</div>
<span class="badge badge-primary">Si</span>
<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Usuarios
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />

        <table id="tabla" class="display cell-border" style=" width: 100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos </th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Activo</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@*<! -- Modal -->*@
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <input id="txtid" type="hidden" value="0" />
                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="txtNombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtNombres" placeholder="Nombres" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtApellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtApellidos" placeholder="Apellidos" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtCorreo" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="txtCorreo" placeholder="name@example.com" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label">Rol</label>
                        <select id="cboRol" class="form-select">
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="txtNumero" class="form-label">Numero (Opcional)</label>
                        <input type="text" class="form-control" id="txtNumero" placeholder="000-000-00" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboActivo" class="form-label">Activo</label>
                        <select id="cboActivo" class="form-select">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        var tabledata;
        var fileSeleccionada;



        jQuery.ajax({
            url: '@Url.Action("ListaRol", "Administrador")',
            type: "Get",
            data: null, /*JSON.stringify({ id: data.IdMarca }),*/
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data)
                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cboRol");

                $.each(data.data, function (index, valor) {
                    $("<option>").attr({ "value": valor.id }).text(valor.descripcion).appendTo("#cboRol");
                })
            },
            error: function (error) {
                console.log(error);
            }
        });

        tabledata = $("#tabla").DataTable({
        responsive: true,
        ordering: false,
        "ajax": {
            url: '@Url.Action("ListarUsuario", "Administrador")',
            type: "GET",
            dataType: "json",
        },
        "columns": [
            { "data": "nombre" },
            { "data": "apellido" },
            { "data": "correo" },
            {
                "data": "id_roles", "render": function (valor) {
                    if (valor == 1) {
                        return '<span class="badge bg-primary">Administrador</span>'
                    } else {
                        return '<span class="badge bg-secondary">Usuario</span>'
                    }
                }
            },
            {
                "data": "activo", "render": function(valor) {
                    if (valor ) {
                        return '<span class="badge bg-success">Si</span>'
                    } else {
                        return '<span class="badge bg-danger">No</span>'
                    }
                }
            },
            {

                "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-editar"><i class="fas fa-pen me-1"></i></button>'+
                    '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash me-1"></i></button>',
                "orderable": false,
                "searchale": false,
               "width" : "90px"
            }
        ],
        "language": {
            "url": 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json'
        },
    });

        function abrirModal(json) {

            $("#txtid").val(0)
            $("#txtNombres").val("")
            $("#txtApellidos").val("")
            $("#txtCorreo").val("")
            $("#cboActivo").val(1)
            $("#cboRol").val(0)
            $("#txtNumero").val("")
            $("#mensajeError").hide()


            if (json != null) {

                $("#txtid").val(json.id)
                $("#txtNombres").val(json.nombre)
                $("#txtApellidos").val(json.apellido)
                $("#txtCorreo").val(json.correo)
                $("#cboRol").val(json.id_roles)
                $("#txtNumero").val(json.numero)
                $("#cboActivo").val(json.activo == true ? 1 : 0)

            }
            $("#FormModal").modal("show");
        }

        $("#tabla tbody").on("click", '.btn-editar', function () {

             fileSeleccionada = $(this).closest("tr");
            var data = tabledata.row(fileSeleccionada).data();
            abrirModal(data);
        })

        $("#tabla tbody").on("click", '.btn-eliminar', function () {
            var usuarioseleccionado = $(this).closest("tr");
            var data = tabledata.row(usuarioseleccionado).data();

            swal({
                title: "¿Está seguro?",
                text: "¡Desea eliminar el usuario?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Sí",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("EliminarUsuario", "Administrador")',
                        type: "POST",
                        data: JSON.stringify({ id: data.id }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.resultado) {
                                tabledata.row(usuarioseleccionado).remove().draw();
                            }
                            else {
                                swal("No se pudo eliminar", data.mensaje, "error");
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                });
            console.log(data);
        })





        function Guardar() {
            debugger
            var Usuario = {
                id: $("#txtid").val(),
                id_roles: $("#cboRol").val(),
                activo: $("#cboActivo").val() == 1 ? true : false,
                apellido: $("#txtApellidos").val(),
                correo: $("#txtCorreo").val(),
                nombre : $("#txtNombres").val(),

            }

            jQuery.ajax({
                url: '@Url.Action("GuardarUsuario", "Administrador")',
                type: "POST",
                data: JSON.stringify({ objeto : Usuario }),
                dataType: "json",
                contentType: "application/json ; charset = utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    //Usuario Nuevo
                    if (Usuario.id == 0) {
                        if (data.resultado != 0) {
                            Usuario.id = data.resultado;
                            tabledata.row.add(Usuario).draw(false);
                            $("#FormModal").modal("hide");
                        }
                        else {
                            $("#mensajeError").text(data.mensaje)
                            $("#mensajeError").show()
                        }

                    }
                    //Editar Usuario
                    else {
                        if (data.resultado) {
                            tabledata.row(fileSeleccionada).data(Usuario).draw(false);
                            fileSeleccionada = null;
                            $("#FormModal").modal("hide");
                        }
                        else {
                            $("#mensajeError").text(data.mensaje)
                            $("#mensajeError").show()
                        }

                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando .........",
                        size : 14
                    });

                },
             })


        }

    </script>
}




