
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CambiarClave</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="~/Content/registro.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/imagenes/logo.jpg" type="image/x-">
</head>
<body>
    <style>
        /* Estilo para el combo box */
        .form-select {
            height: 45px; /* Puedes ajustar la altura según tus necesidades */
            font-size: 16px; /* Ajusta el tamaño de fuente si es necesario */
            font-weight: bold; /* Ajusta el peso de fuente si es necesario */
        }

        .container-fluid {
            min-height: 100vh; /* Establece la altura mínima al 100% del viewport para hacer el formulario más alto */
            margin-left: 100px;
        }

        /* Estilo para el formulario .card */
        .card {
            height: 600px; /* Puedes ajustar la altura según tus necesidades */
            width: 50%; /* Aumenta el ancho del formulario */
            max-width: 500px; /* Establece un ancho máximo para que no se vuelva demasiado grande en pantallas grandes */
            margin-left: 100px;
            margin: 50px auto; /* Agrega márgenes superior e inferior para separar el formulario del borde de la pantalla */
            padding: 50px; /* Agrega un espacio interno para dar separación entre los elementos del formulario */
        }

        /* Estilo para el logo */
        .logo-image {
            max-width: 100%; /* Hace que el logo se ajuste al tamaño máximo del contenedor */
        }

        /* Estilo para el título del formulario */
        .form-title {
            text-align: center; /* Centra el título horizontalmente */
        }

        body, html {
            margin: 0;
            padding: 0;
            overflow: hidden; /* Desactiva el desplazamiento vertical y horizontal */
        }
        .small {
            font-size: 15px; /* Ajusta el tamaño de fuente según tus necesidades */
            text-align: left; /* Alinea el texto hacia la izquierda */
        }
    </style>
    <div class="login">
        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="/imagenes/logo.jpg"
                             class="img-fluid" alt="Sample image">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form action="@Url.Action("CambiarClave","Acceso")" method="post" >
                                <input class="form-control" type="hidden" value="@TempData["IdUsuario"]" name="IdUsuario" />
                                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start text-dark  row">
                                    <h2 class="text-center fw-bold">CAMBIAR </h2>
                                    <h2 class="text-center fw-bold">CONTRASEÑA </h2>
                                </div>
                                <br />
                                <div class="form-outline mb-4">
                                    <input type="password" name="clave" id="form3Example3" class="form-control form-control-lg border border-primary"
                                           placeholder="Poner la contraseña enviada" />
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" name="nuevaclave" id="form3Example3" class="form-control form-control-lg border border-primary"
                                           placeholder="Nueva Contraseña" />
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password"  name="comfirmarclave" id="form3Example3" class="form-control form-control-lg border border-primary"
                                           placeholder="Confirmar Contraseña" />
                                </div>
                                @{
                                    if (ViewBag.Error != null)
                                    {
                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div class="alert alert-danger" role="alert">
                                                    @ViewBag.Error
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <br />
                                <button type="submit" class="btn btn-primary btn-lg"
                                        style="width: 360px;">
                                    Cambiar Contraseña
                                </button>
                                <br />
                                <br />
                                <div class="py-4">
                                    <div class="small"><a href="@Url.Action("Index","Acceso")">Volver</a></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
